body {background-color: rgb(243, 240, 223);}
body {
    color: rgb(20, 9, 59);
  }
  
  h1 {
    color: rgb(46, 70, 148);
  }
  p {
    color: rgb(28, 29, 31);
  }
  p {
    color: rgb(84, 24, 223);
  }

  header {background-color: rgb(36, 36, 43);}
  
  a {
    color: rgb(233, 118, 24);
  }


  .i {
    font-size: smaller;
    font-style: italic;
  }


  #username {
    font-family: fantasy;
  }


  .maintext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  .description {
    font-family:monospace;
    font-weight: bolder;
  }




  th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
  }
  
  th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
  
  th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
  }
  
  th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
  }



.student {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.selected {
    background-color: burlywood;
}

.userName {
    font-weight:bold;
}

.studentName{
    color:#999;
}